<div class="article">
  <div class="article-title">
    <h3>Need a fix?</h3>
  </div>
  <div class="article-con">
    <p>Our goal is to connect you with the best professionals closest to your home or office, and help our Tasmanian community grown together.</p>
  </div>
</div>