.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr 1.7fr 0.3fr;
  grid-template-rows: -0.8fr 3.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "header-container header-container header-container header-container"
    "article-body article-body article-body article-body"
    "article-body article-body article-body article-body"
    ;
}

.header-container {
  display: grid;
  grid-template-columns: 0.2fr 2.6fr 0.2fr;
  grid-template-rows: 0.9fr 1.7fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    ". header-inside ."
    ". icons-header ."
    ". . .";
  grid-area: header-container;
}

.header-inside {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "logo-area nav-area nav-area"
    "logo-area nav-area nav-area";
  grid-area: header-inside;
}

.nav-area { grid-area: nav-area; }

.logo-area { grid-area: logo-area; }

.icons-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "icons-area icons-area icons-area"
    "text-icons text-icons text-icons";
  grid-area: icons-header;
}

.icons-area { grid-area: icons-area; }

.text-icons { grid-area: text-icons; }

.article-body { grid-area: article-body; }